<article class="instance">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>AWS Instance ID</th>
            <th>State</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @instance.aws_id %></td>
            <td><%= @instance.msg %></td>
            <td><%= @instance.location %></td>
            <td>
              <% if @instance.status.to_sym == :running %>
                <%= link_to 'Launch App', "http://#{@instance.location}", :target => '_blank' %>
                <%= link_to 'Destroy', instance_path(@instance), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% elsif @instance.status.to_sym == :error || @instance.status.to_sym == :terminated %>
                <%= link_to 'Launch a new instance', root_path %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>