<article class="form">
  <%= simple_form_for(@instance) do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :access_key %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :secret_key %>
      </div>
    </div>

    <div class="panel-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</article>