// Code that will be used all over the app goes here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.form {
  padding: 10px 20px;

  div.panel-actions {
    margin-top: 10px;
  }
}